# Logs
logs 
*.log 
npm.debug.log 

# Runtime data
pids 
*.pid 

# Coverage directory
coverage 

# NPM cche directory
node_modules

# vscode
.vscode 
*code-workspace

# intellij
.idea
*.iws
*.iml
*.ipr

# mac osx
.DS_Store

# lock files
yarn.lock
package-lock.json

# build
dist
